<%- include("parts/html-head") %>
<%- include("parts/navbar") %>
<div class="container">
    <h1>
        Home
    </h1>
    <iframe src="https://giphy.com/embed/Vbtc9VG51NtzT1Qnv1" width="480" height="400" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/Friends-friends-tv-episode-219-Vbtc9VG51NtzT1Qnv1"></a></p>
</div>
<%- include("parts/scripts") %>
<%- include("parts/html-foot") %>
