<%- include("../parts/html-head") %> <%- include("../parts/navbar") %>
<style>
  form .mb-3 .form-text {
    color: red;
  }
</style>
<div class="container mt-3">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Add info</h5>
          <form name="form1" method="post" onsubmit="sendForm(event)">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" name="name" />
              <div class="form-text"></div>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="text" class="form-control" id="email" name="email" />
              <div class="form-text"></div>
            </div>
            <div class="mb-3">
              <label for="mobile" class="form-label">Phone</label>
              <input
                type="text"
                class="form-control"
                id="mobile"
                name="mobile"
              />
              <div class="form-text"></div>
            </div>
            <div class="mb-3">
              <label for="birthday" class="form-label">Birthday</label>
              <input
                type="date"
                class="form-control"
                id="birthday"
                name="birthday"
              />
              <div class="form-text"></div>
            </div>
            <div class="mb-3">
              <label for="address" class="form-label">Address</label>
              <textarea
                class="form-control"
                name="address"
                id="address"
                cols="30"
                rows="3"
              ></textarea>
              <div class="form-text"></div>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Info added successfully</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Continue
        </button>
        <a type="button" class="btn btn-primary" href="list.php"
          >Go to list page</a
        >
      </div>
    </div>
  </div>
</div>
<%- include("../parts/scripts") %>
<script>
  const { name, email, mobile } = document.form1;

  const sendForm = (e) => {
    e.preventDefault();
    name.nextElementSibling.innerHTML = "";
    name.style.border = "1px solid black";
    email.nextElementSibling.innerHTML = "";
    email.style.border = "1px solid black";
    mobile.nextElementSibling.innerHTML = "";
    mobile.style.border = "1px solid black";

    function validateEmail(email) {
      const email_re =
        /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return email_re.test(email);
    }

    function validatePhone(phone) {
      const phone_re = /^09\d{2}-?\d{3}-?\d{3}$/;
      return phone_re.test(phone);
    }

    let isPass = true;
    if (name.value.length < 2) {
      isPass = false;
      name.nextElementSibling.innerHTML = "Please enter a correct name";
      name.style.border = "1px solid red";
    }

    if (email.value && !validateEmail(email.value)) {
      isPass = false;
      email.nextElementSibling.innerHTML = "Please enter a correct email";
      email.style.border = "1px solid red";
    }

    if (mobile.value && !validatePhone(mobile.value)) {
      isPass = false;
      mobile.nextElementSibling.innerHTML =
        "Please enter a correct mobile number";
      mobile.style.border = "1px solid red";
    }

    if (isPass) {
      const fd = new FormData(document.form1);
      const usp = new URLSearchParams(fd);
      fetch("", {
        method: "post",
        body: usp.toString(),
        headers: {
          "Content-Type": "application/x-www-form-urlencoded",
        },
      })
        .then((r) => r.json())
        .then((result) => {
          console.log({
            result,
          });
          if (result.success) {
            myModal.show();
          } else {
            for (let k in result.errors) {
              const field = document.form1[k];
              field.style.border = "1px solid red";
              field.nextElementSibling.innerHTML = result.errors[k];
            }
          }
        })
        .catch((ex) => {
          console.log(ex);
        });
    }
  };

  const myModal = new bootstrap.Modal(document.getElementById("exampleModal"));
</script>
<%- include("../parts/html-foot") %>
